*{
    margin:0;
    overflow:hidden;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.board-container{
    height:100vh;
    width:100vw;
    background-color:#2e2e2e;
    display:flex;
    justify-content:center;
    align-items:center;
}

.score-container{
    position:absolute;
    top:0;
    left:0;
    height: 10vh;
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background:transparent;
}
.board {
    height:610px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    width: 610px;
    margin: 0 auto;
  }
  
  button {
    height:200px;
    width:200px;
    font-size: 100px;
    font-weight: bold;
    padding: 10px;
    background-color:#afafaf;
  }
  

.options{
    position:absolute;
    bottom:0;
    left:0;
    height: 10vh;
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background:transparent;
}

#new-game{
    height:100px;
    width:100px;
    background-color:#444;
    font-size:24px;
}